.feature-container {
  position: relative;
  padding: 20px;
  border: 1px solid #00000025;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
  background-color: #00000005;
  overflow: hidden;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
  margin-bottom: 20px;
}

.feature-container:hover {
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.075);
  text-decoration: none;
}

a:hover {
  color: inherit;
}

.emoji-background {
  font-size: 20rem;
  color: #f0f0f0;
  position: absolute;
  top: 10%;
  right: 15%;
  transform: translate(50%, -50%);
  scale: 1;
  z-index: 0;
  opacity: 0.075;
}

.content {
  z-index: 1;
  text-align: left;
  display: flex;
  width: 100%;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.subtitle {
  margin-bottom: 0px;
  font-weight: 500;
}

.badge {
  font-size: 0.75rem;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 4px;
  display: inline;
}

[data-theme="dark"] .feature-container {
  border: 1px solid #ffffff25;
  background-color: #ffffff05;
}

.icon {
  padding-top: 6px;
}

@media (max-width: 768px) {
  .feature-container {
    padding: 24px;
  }

  .emoji-background {
    font-size: 14rem;
  }

  .title {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .icon {
    padding-top: 10px;
  }
}
